@use '../shared/styles/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-text-primary);
  font-family: var(--font-inter), sans-serif;
}

h1,
h2 {
  font-family: var(--font-montserrat);
}
