.skeleton {
    display: block;
    background: linear-gradient(90deg, #1b1b1b 25%, #242424 37%, #1b1b1b 63%);
    background-size: 400% 100%;
    animation: shimmer 1.4s ease infinite;
    border-radius: 8px;
}

@keyframes shimmer {
    0% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}
